<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Add Customer</title>

    <style>
    form {
    padding-top: 20px;
    width: 300px;
    margin: 0 auto;
    }

    input {
  display: block;
  direction: ltr;
}
    </style>
</head>
<body>
    <div class="alert alert-primary" role="alert">
        Add a New Customer to NU Bank here!
      </div>

    <form action="add-customer" method='POST' enctype="multipart/form-data">
        {%csrf_token%}
    <h2>eKYC Facility</h2>
    <p>Customer ID</p>
    <input type="text" name='userID'>
    <br>
    <p>First Name</p>
    <input type="text" name='userFirstName'>
    <br>
    <p>Last Name</p>
    <input type="text" name='userLastName'>
    <br>
    <p>Age</p>
    <input type="number" name='userAge'>
    <br>


    <label for="userGender">Gender</label>
  <select id="userGender" name="userGender">
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>

    <br>
    <p>District</p>
    <input type="text" name='userDistrict'>
    <br>
    <p>State</p>
    <input type="text" name='userState'>
    <br>
    <p>Nationality</p>
    <input type="text" name='userNationality'>
    <br>
    <p>Aadhaar</p>
    <input type="number" name='userAadhaar'>
    <br>
    <p>Email</p>
    <input type="email" name='userEmail'>
    <br>
    <p>Contact</p>
    <input type="number" name='userContact'>
    <br>
    <p>Customer Starting Balance</p>
    <input type="text" name='userStartingBalance'>
    <br>
    <p>Customer Remarks</p>
    <textarea name="userRemarks" cols="30" rows="10"></textarea>
    <br>

  <p>Customer Image</p>
  <input type="file" name='userImage'>

  <p>Aadhar Image</p>
  <input type="file" name='userAadhaarImage'>


  <input type="checkbox" id="tccheck" name="tccheck" value="True">
  <label for="tccheck"> Accept Terms & Conditions?</label><br>

    <button type='submit' class="btn btn-primary"  onclick="return confirm('Are you sure you want to add new Customer?')" >Submit</button>
</form>
</body>
</html>