<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Customer Details</h2>

<table>
  <tr>
    <th>User ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>District</th>
    <th>State</th>
    <th>Nationality</th>
    <th>Aadhaar</th>
    <th>Email</th>
    <th>Contact</th>
    <TH>Starting Balance</TH>
    <th>Image</th>
    <th>Aadhaar Image</th>
    <th>Remarks</th>
    <th>Terms</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  {%for newUser in newUsers%}
  <tr>
    <td>{{newUser.userID}}</td>
    <td>{{newUser.userFirstName}}</td>
    <td>{{newUser.userLastName}}</td>
    <td>{{newUser.userAge}}</td>
    <td>{{newUser.userGender}}</td>
    <td>{{newUser.userDistrict}}</td>
    <td>{{newUser.userState}}</td>
    <td>{{newUser.userNationality}}</td>
    <td>{{newUser.userAadhaar}}</td>
    <td>{{newUser.userEmail}}</td>
    <td>{{newUser.userContact}}</td>
    <td>{{newUser.userStartingBalance}}</td>
    <td><a href="{{newUser.userImage.url}}"><img height=50 width=50 src="{{newUser.userImage.url}}" alt="{{newUser.userID}}"></a></td>
    <td><a href="{{newUser.userAadhaarImage.url}}"><img height=50 width=50 src="{{newUser.userAadhaarImage.url}}" alt="{{newUser.userID}}"></a></td>
    <td>{{newUser.userRemarks}}</td>
    <td>{{newUser.tccheck}}</td>
    <td><a href="update-customer/{{newUser.pk}}">Update</a></td>
    <td><a href="delete-customer/{{newUser.pk}}">Delete</a></td>

  </tr>
  {%endfor%}
</table>

</body>
</html>